{
  "branches": [
    {
      "name": "main"
    }
  ],
  "repositoryUrl": "https://github.com/pavel-snyk/snyk-broker-helm.git",
  "tagFormat": "snyk-broker-${version}",
  "plugins": [
    "@semantic-release/commit-analyzer",
    [
      "@semantic-release/exec",
      {
        "prepareCmd": "mkdir -p .cr-release-packages/ && mkdir -p .cr-index/"
      }
    ],
    [
      "@semantic-release/exec",
      {
        "prepareCmd": "helm package charts/snyk-broker/ --destination .cr-release-packages/ --version ${nextRelease.version}"
      }
    ],
    [
      "@semantic-release/exec",
      {
        "publishCmd": "cr upload --owner pavel-snyk --git-repo snyk-broker-helm --generate-release-notes --push --skip-existing --token $GH_TOKEN"
      },
    ],
    [
      "@semantic-release/exec",
      {
        "publishCmd": "cr index --owner pavel-snyk --git-repo snyk-broker-helm --push --token $GH_TOKEN"
      }
    ]
  ]
}
